# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
Thumbs.db
desktop.ini
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (opt in the example only)
.env*
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor/tooling
.vscode/
.idea/
